@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.tabla-admin{
    font-family: 'Montserrat', sans-serif;
}
.thead tr th{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #282828;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
td p a{
    color: #282828 !important;
    text-decoration: none;
}
.table thead th{
    border: none;
}
.profile-imgs{
    width: 71px;
    height: 57px;
    object-fit: cover;
    border-radius: 3px;
}
.container{
    max-width: 1400px;
    padding: 0 !important;
}
.botonera-admin{
    margin-top: 50px;
    margin-left: 30px;
    background-color: #E5E5E5;
    height: 60px;
    width: 264px;
    display :flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    border-radius: 30px;
}
#b1,#b2,#b3,#b4 {
    cursor: pointer;
}
.botonera{
    background-color: rgba(190, 190, 190, 0.667);
}

.boton-elim-border{
    border-left:  1px solid #D3D3D3;;
}
.contenedor-de-tabla{
    background: #FFFEFE;
    border-radius: 0px 0px 22px 22px;
}
.btn-elim{
    transition: all .1s;
}
.btn-elim:hover{
    filter: brightness(80%);
}
.contenerdor-centro{
    width: 100%;
    display: flex;
    margin-top: 150px;
    align-items: center;
    justify-content: space-around;
}
.thead-style{
    background-color: #FFFEFE !important;
}

.entradas-panel{
    overflow:auto;
    background-color: #d3d3d3;
    height: 300px;
    border-radius:10px;
}
.entradas-recientes{
    text-align: center;
}
.entrada{

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 90%;
/*    padding: 10px;
     */
     /* text-align: center !important; */
    height: 70px;
    background-color: #FFFEFE ;
    margin: 9px auto;
    justify-content: center;
    border-radius: 10px;
}
.entrada p{
    margin: 0 !important;
}