@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    scroll-behavior: smooth;
}
.total{
    display: flex;
}
.card{
    margin-top: 100px !important;
}
.card-body{
    height: 550px;
}
.pelele{
    text-align: center;
justify-content: space-around;
align-items: center;
    display: grid;
    grid-template-rows: .1fr .8fr .1fr;
}
.card-body p{
    margin-top:1rem !important;
}
.registro-txt{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-top: 50px;
    line-height: 0%;
    color: #282828;
}
.ultima-entrada-txt{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin-top: 50px;
    line-height: 0%;
    color: #615B5B;
}
.whole-body{
    /* margin-top: 140px; */
    display: grid;
    grid-template-columns: .2fr .8fr;
}
.container1{
    width: 883.08px;
height: 426.94px;
}
.el-grafico-img{

    /* width: 100% !important; */
    width: 500px !important;
    height: 199.01px;
}
.c1{
    display: grid;
    grid-template-rows: .2fr .7fr .1fr;
}
/*perfil datos de la imagen*/
.profile-picture{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-text{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 0%;color: #676767;
}
.profile-picture-img{
   width: 134.68px;;
  height: 134.46px;
  object-fit: cover;
    border-radius: 117px;
}

.change-profile-picture{
    background: #282828;
    border-radius: 50px;
    width: 84px;
    height: 24.56px;
    margin-bottom: 23px;
    margin-top: 30px;
    font-family: Montserrat;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 0%;
    color: #D3D3D3;
}
.qr-code-text{
    margin-top: 4px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 0%;
    color: #282828;

}
.qr-code-imag{
    width: 73.59px;
height: 73.47px;
}
.profile-name{
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    font-weight: 600;
}

/*datos del perfil*/
.datos-del-perfil{
    margin-left: 100px;
}

.datos-del-perfil-text{
    margin-top: 10px;
    margin-bottom: 60px;
    
    font-family: Montserrat;
    font-style: normal;
    font-size: 18px;
    line-height: 0%;
    color: #282828;
}
.fields{
    
    width: 400px;
}
.full-name-field{
    display: flex;
    margin-bottom: 18px;
}
.email-field{
    display: flex;
    margin-bottom: 18px;
}
.dni-field{
    display: flex;
    margin-bottom: 18px;
}
.companyid-field{
    
    display: flex;
}
.description{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 0%;
    color: #272727;
}
.hidden{
    display: none;
}
.value-field{
    margin-left: 10px;
    border: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 0%;
    width: 200px;
    color: #272727;
    height: 12px;
    border-bottom: 1px solid #7A7A7A;
}
@media (max-width:1400px){
.total{
    display: flex;
    flex-direction: column;
}
    /* .whole-body{
        display: flex;
        flex-direction: column;
        margin-top: 60px;
    } */
    .profile-picture{
        margin-left: 0;

        margin-bottom: 40px;
    }
    .datos-del-perfil, .fields{
        text-align: center;
    }
    .datos-del-perfil .value-field{
        border: none;
    }
    .second-row{
        display: flex;
        /* flex-direction: column; */
        margin-top: 50px;
    }
    .second-row img{
        width: 300px;
        height: auto;
    }
    .qr-zone{
        border: none;
        margin-bottom: 60px;
    }
    .qr-img{
        width: 200px !important;
    }
    .qr-text,.chart-text{
        font-size: 30px;
    }
}